/* Estilos generales */
body {
    font-family: sans-serif;
    margin: 2em;
}

/* Estilos para la tabla de resultados */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
